button {
  border: black 3px solid;
  background: transparent;
  color: black;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.countdown-line {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 80%;
  border: 2px black solid;
  animation: linear 5s forwards 1 countdown;
}

.hidden {
  display: none
}

video.hidden {
  opacity: 0;
  display: inline;
}

.videos-wrapper {
  position: relative;
  justify-content: space-between;
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
}

.video-container {
  position: absolute;
  width: 100%
}

.video-container video {
  width: 100%;
}

.start-button {
  justify-self: center;
  font-size: 1rem;
}

.controlsContainer {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: flex-end;
  z-index: 4;
  padding: 10% 10%;
}

.center {
  justify-content: center;
}

.space {
  justify-content: space-between;
}

.credits.hidden {
 display: none;
}

.credits {
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.credits p {
  text-align: center;
}

button.active {
  background-color: black;
  color: white;
}

@keyframes countdown {
  from {
    width: 80%;
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0;
  }
}